* {
  box-sizing: border-box;
}

:root {
  --background-color: #0d120f;
  --foreground-color: #e1e1e1;
  --accent-color: #3d6f4f;
  --accent-dark-color: #2c4d37;
  --text-color: #e1e1e1;
  --muted-text-color: #8e9a91;
  --disclaimer-color: #555;
  --error-color-bg: rgba(255, 51, 51, 0.2);
  --error-color-border: rgba(255, 51, 51, 0.5);
  --button-bg: rgba(75, 130, 94, 0.2);
  --button-bg-opaque: rgb(24, 43, 31);
  --button-bg-hover: rgba(255, 165, 0, 0.2);
  --button-border: rgba(50, 88, 64, 0.5);
  --button-border-hover: rgba(255, 165, 0, 0.5);
  --button-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --ui-panel-border: rgba(61, 111, 79, 0.3);
  --ui-panel-bg: rgba(75, 130, 94, 0.06);

  --sans-serif: 'Roboto', sans-serif;
  --monospace: 'Roboto Mono', monospace;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: var(--sans-serif)
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--button-border-hover);
  text-decoration: none;
}

#container {
  font-family: var(--monospace);
  font-size: 14px;
  color: var(--text-color);
  background-color: var(--background-color);
  overflow: hidden;
}

.table-row {
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.data-container {
  display: flex;
  flex-grow: 1;
  padding: 0 16px;
  gap: 16px;
}

.data-container > div,
.data-container > span {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 24px;
  height: 24px;
  user-select: none;
  color: var(--text-color);
}

.child-container {
  padding-left: 24px;
  display: flex;
  flex-direction: column;
}

.table-row .operation-col {
  text-align: left;
  flex-grow: 1;
  font-family: var(--monospace);
}

.header-row .operation-col {
  text-align: left;
  flex-grow: 1;
}

.data-container:hover {
  background-color: #555;
  cursor: pointer;
}

.operation-col {
  flex: 1 0 0;
  padding-left: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.root-pct-col {
  flex: 0 0 65px;
}

.parent-pct-col {
  flex: 0 0 200px;
}

.other-pct-col {
  display: none;
  flex: 0 0 115px;
}

#table-container.show-other-pct .other-pct-col {
  display: block;
}

.total-time-col {
  flex: 0 0 120px;
}

.hits-col {
  flex: 0 0 150px;
}

.average-col {
  flex: 0 0 150px;
}

.parent-name {
  flex: 1 0 0;
  padding-right: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #aaa;
}

.indicator {
  position: relative;
  display: inline-block;
  width: 8px;
  font-size: 12px;
  color: #888;
}

.indicator::before {
  content: '▲';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(90deg);
  transform-origin: 50% 50%;
  transition: transform 0.3s ease;
  color: #aaa;
}

.table-row[data-open='true'] > .data-container > .indicator::before {
  transform: translate(-50%, -50%) rotate(180deg);
}

/* Entry */

#entry-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 50px 20px;
  text-align: center;
  box-sizing: border-box;
}

.mono {
  font-family: --var(--monospace);
  background: #444;
}

h1 {
  font-size: 3em;
  margin: 0;
  line-height: 1.2em;
}

p {
  font-size: 1.2em;
  margin-top: 30px;
  line-height: 1.4em;
}

input[type='file'] {
  display: none;
}

html,
body {
  height: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

#container {
  flex-grow: 1;
}

#footer {
  flex-shrink: 0;
}

.disclaimer {
  font-size: 9px;
  color: var(--disclaimer-color);
  text-align: center;
  margin-top: auto;
  padding: 10px 0;
}

#error-container {
  display: none;
  position: relative;
  margin: 20px auto;
  text-align: center;
  max-width: calc(100% - 80px);
  flex-direction: column;
  align-items: center;
}

.error-message-container {
  border: 2px solid var(--error-color-border);
  border-radius: 0;
  background-color: var(--error-color-bg);
  padding: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
}

#error-container pre {
  color: #fff;
  margin: 0;
  margin-top: 30px;
  line-height: 1.4em;
  font-family: var(--monospace);
  font-size: 12px;
}

#error-container h2 {
  font-size: 2em;
  margin: 0;
  line-height: 1.2em;
}

#try-again-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-size: 14px;
  line-height: 12px;
  height: 40px;
  cursor: pointer;
  padding: 10px 32px;
  background-color: var(--button-bg);
  border: 1px solid var(--button-border);
  border-radius: 0;
  box-shadow: var(--button-shadow);
  max-width: 200px;
  color: #fff;
  font-family: var(--sans-serif);
  text-shadow: 1px 1px 1px #000;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  gap: 8px;
  margin: 0;
}

.button:hover {
  background-color: var(--button-bg-hover);
  border: 1px solid var(--button-border-hover);
  box-shadow: 0 5px 10px rgba(255, 165, 0, 0.1);
}

#toolbar {
  background-color: var(--ui-panel-bg);
  border-bottom: 1px solid var(--ui-panel-border);
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

#toolbar-select-file-button {
  display: none;
}

#left-toolbar {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
  justify-content: flex-start;
}

#center-toolbar {
  display: flex;
  align-items: center;
  gap: 24px;
  flex: 1;
  justify-content: center;
}

#right-toolbar {
  display: flex;
  align-items: center;
  gap: 16px;
  flex: 1;
  justify-content: flex-end;
}

#right-toolbar img {
  height: 30px;
}

.toolbar-statistic {
  display: none;
  /* display: flex; */
  position: relative;
  flex-direction: column;
  align-items: center;
}

.toolbar-statistic span:first-of-type {
  color: var(--muted-text-color);
  font-size: 0.8em;
  margin-bottom: 4px;
}

.toolbar-statistic .tooltip-value {
  font-weight: bold;
  color: var(--text-color);
}

.after-tooltip {
  position: relative;
}

.tooltip, .after-tooltip::after {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  /* transform: translateX(-50%); */
  background-color: var(--button-bg-opaque);
  border: 1px solid var(--accent-dark-color);
  color: #fff;
  padding: 8px 16px;
  font-size: 0.8rem;
  font-family: var(--sans-serif);
  white-space: nowrap;
  font-weight: normal;
  z-index: 10;
}

.toolbar-statistic:hover .tooltip {
  display: flex;
}

.toolbar-checkbox {
  display: flex;
  align-items: center;
}

.toolbar-checkbox input[type="checkbox"] {
  margin-right: 8px;
}

.toolbar-checkbox label {
  color: var(--text-color);
  font-size: 0.8rem;
  cursor: pointer;
  user-select: none;
}

.toolbar-checkbox i {
  position: relative;
  margin-left: 5px;
  color: var(--muted-text-color);
  cursor: help;
}

.toolbar-checkbox i[data-tooltip]:hover:after {
  content: attr(data-tooltip);
  display: block;
}

#how-to-profile-section {
  margin-top: 200px;
  border: 1px solid var(--ui-panel-border);
  background-color: var(--ui-panel-bg);
  padding: 24px;
  border-radius: 4px;
}

#how-to-profile-section h2 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 16px;
}

#how-to-profile-section p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: left;
}

#how-to-profile-section ol {
  list-style-type: decimal;
  list-style-position: inside;
  counter-reset: item;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

#how-to-profile-section li {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  line-height: 1.5;
  white-space: nowrap;
}

#how-to-profile-section li::before {
  content: counter(item) '. ';
  counter-increment: item;
  margin-right: 8px;
}

code,
kbd {
  display: inline-flex;
  padding: 0 2px;
  background-color: rgba(255, 255, 255, 0.1);
  margin: 0 0.5em;
  line-height: 1.4em;
  position: relative;
  top: 1px;
}

#select-file-section {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#select-file-section .button {
	width: 300px;
	height: 48px;
	max-width: unset;
}

/* styles.css */

#spinner-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  border-top: 10px solid var(--button-bg);
  border-right: 10px solid var(--button-bg);
  border-bottom: 10px solid var(--button-bg);
  border-left: 10px solid var(--button-border);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#help {
  max-width: 600px;
}

#export-json-button {
  display: none;
}

#export-nested-json-button {
  display: none;
}
